.fa_footer{
  background-color: #F2F8FC;

  &__top{
  padding-top: 26px;
   
    
  }
  &__bottom{
    padding-top: 10px;
    padding-bottom: 19px;
   
    font-size: 10px;
    text-align: center;
    border-top: 1px solid rgba(212, 221, 227, 0.6);
    margin-top: 12px;

    a{
      
     
      line-height: 1.5;

      &:hover{
        border-color: transparent;
      }
    }
  }
  &__logo{
    font-size: 11px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 27px;

    display: flex;
    align-items: center;
    
      
      color: #000000;
    img{
     
      margin-right: 12px;
      display: block;
      flex: 0 0 38px;
    }
  }
  &__logo-text{
    flex: auto;
  }




  &__col{
   
  }
  &__coursename{
    font-size: 10px;
    margin-top: 4px;
    padding-left: 8px;
  }
  &__bottom-col{
    margin-bottom: 14px;

    &:nth-child(2){
       margin-bottom: 6px;
    }

    &:last-child{
      margin-bottom: 0;
    }


  }
  .fa_anti{
    a{
      

     
    }
  }
}
.page-template-template-about .fa_footer__top, .page-template-template-faq .fa_footer__top, .page-template-template-info .fa_footer__top, .page-id-15 .fa_footer__top, .page-id-184 .fa_footer__top{
  border-top: 1px solid rgba(212, 221, 227, 0.6);
}
.fa_menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  li{
    margin-bottom: 8px;
    line-height: 1;
    flex: 0 0 50%;    
  }
  a{
    font-size: 12px;
    border-bottom: none;
    padding-right: 10px;
    background: url(../images/mnu-arrow.svg) right calc(100% - 4px) no-repeat;
    color: inherit;
    line-height: 1;
    background-size: 4px auto;

    &:hover{
      color: #3AA1EC;

    }
  }
}

@media (min-width: 576px) { 
    
}
@media (min-width: 768px) { 
  .fa_footer{
    &__top{
      display: flex;
      justify-content: space-between;
    }
    &__logo{
      margin-left: 0;
      margin-bottom: 0;
    }
    &_thank &__logo{
      margin-left: auto;
      margin-right: auto;
    }
    &__bottom{
      // display: flex;
      margin-top: 22px;
      padding-top: 22px;
      border-top: 1px solid rgba(212,221,227,0.6);
    }
    &__col{
      width: 50%;

     

    }
    &_thank &__col{
      width: 100%;
    }
    &__coursename{}
    &__bottom-col{

     
    }
  } 
  .fa_menu{
    margin-top: 0;
    margin-right: 0;
    li{}
    a{

      &:hover{

      }


    }
  }  
}
@media (min-width: 992px) {
  .fa_footer{
    &__top{
    padding-top: 44px;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    &__bottom{
      justify-content: space-between;
      font-size: 11px;
      padding-top: 20px;
      display: flex;
      align-items: center;
    }
    &__logo{
      width: 290px;
      font-size: 12px;
      margin-left: 0;

      img{
        flex: 0 0 44px;
        margin-right: 14px;
      }

    }
    &__col{
     
      

    }
    &__coursename{
      font-size: 13px;
      text-align: left;
      width: 220px;
    }
    &__bottom-col{
      &:nth-child(1){
        text-align: left;
      }
      &:nth-child(2){
        text-align: center;
        padding: 0 15px;
        margin-bottom: 0;
      }
      &:nth-child(3){
        text-align: right;
      }
    }
  } 
  .fa_menu{
    width: 350px;
    margin-top: 3px;
   
      padding-right: 0;
      padding-left: 0;

    li{}
    a{
      font-size: 13px;
      background-size: 5px auto;
      background-position: right calc(100% - 2px);
    }
  }     
}
@media (min-width: 1200px) {
  .fa_footer{
    &__top{}
    &__bottom{}
    &__col{}
    &__coursename{}
    &__bottom-col{}
  } 
  .fa_menu{
    li{}
    a{}
  }  
}

