.site-header {
  padding-top: 13px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: #fff;
  padding-bottom: 40px;


  background-image: linear-gradient(0deg, rgba(30, 36, 94, 0.7), rgba(30, 36, 94, 0.7)), url(../images/m-top-bg.jpg);

  @media (min-width: 576px) {
    background-image: linear-gradient(0deg, rgba(30, 36, 94, 0.7), rgba(30, 36, 94, 0.7)), url(../images/top-bg.jpg);
  }

  @media (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 28px;
  }

  @media (min-width: 992px) {
    padding-top: 28px;
    padding-bottom: 118px;
  }

  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 15px;

    @media (min-width: 576px) {
      width: 450px;
    }

    @media (min-width: 768px) {
      text-align: left;
      margin-left: 0;
      font-size: 24px;
      width: 100%;
    }

    @media (min-width: 992px) {
      font-size: 36px;
      margin-bottom: 26px;
      line-height: 1.1;
      width: 550px;
    }
    @media (min-width: 1200px) {
      font-size: 43px;
      width: 660px;
    }
  }

  &__row {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__right {
    @media (min-width: 768px) {
      width: 290px;
      // padding-top: 16px;
    }

    @media (min-width: 992px) {
      width: 320px;
      padding-top: 40px;

    }
  }

  .site-header-list {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      display: block;
      margin-left: 0;
      width: auto;
    }





    li {
      flex: 0 0 50%;


      &:nth-child(1) {
        order: 0;
      }

      &:nth-child(3) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(4) {
        order: 4;
      }

      &:nth-child(5) {
        order: 3;
      }
    }

  }

  &__desc {
    margin-bottom: 26px;
    font-size: 9px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.4;

  }

  &_thank .top-section__desc {
    display: none;
  }
}

.bul-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 38px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 992px) {
    margin-bottom: 55px;
    margin-left: 0;
    max-width: none;
  }

  li {
    font-size: 12px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 17px;

    @media (min-width: 768px) {
      font-size: 14px;
    }

    @media (min-width: 992px) {
      font-size: 20px;
      padding-left: 20px;
      margin-bottom: 4px;

    }


    &:before {
      display: block;
      position: absolute;
      left: 7px;
      top: 6px;
      content: '';
      width: 4px;
      height: 4px;
      background-color: #E05B23;
      border-radius: 50%;

      @media (min-width: 992px) {
        width: 5px;
        height: 5px;
        top: 10px;
      }

    }

  }
}

.webp .site-header {
  background-image: linear-gradient(0deg, rgba(30, 36, 94, 0.7), rgba(30, 36, 94, 0.7)), url(../images/m-top-bg.webp);

  @media (min-width: 576px) {
    background-image: linear-gradient(0deg, rgba(30, 36, 94, 0.7), rgba(30, 36, 94, 0.7)), url(../images/top-bg.webp);
  }
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  margin-bottom: 45px;

  @media (min-width: 992px) {

    margin-bottom: 162px;
  }


  &__phone-cont {
    display: none;

    @media (min-width: 768px) {
      display: block;
      text-align: right;
    }

  }

  &__phone {
    @media (min-width: 768px) {
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
    }
  }

  &__phone-desc {
    @media (min-width: 768px) {
      font-size: 9px;
    }
  }

  &__logo-cont {


    display: flex;
    align-items: center;
    width: 210px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      margin-left: 0;
    }

    @media (min-width: 992px) {
      width: 280px;
      margin-left: 0;

      text-align: left;
      transform: translateY(3px);


    }

    picture {
      flex: 0 0 32px;

      @media (min-width: 992px) {
        flex: 0 0 38px;
      }
    }

    img {

      display: block;

    }

    a {
      border: none;
    }
  }

  &__logo-text {
    font-size: 9px;
    line-height: 1;
    flex: auto;
    padding-left: 12px;
    margin-top: -5px;


    @media (min-width: 992px) {
      font-size: 12px;
      line-height: 12px;
      padding-left: 14px;
      line-height: 1.3;
      padding-top: 2px;

    }
  }

}


.page-template-template-thank {
  .site-header {

    text-align: center;

    h1 {
      font-size: 28px;
    }
  }

}


.fa_offer {

  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &_header {
    background-color: $branding-light-color;
    border-radius: 8px;
    max-width: 320px;
    padding: 19px 15px 24px;

    @media (min-width: 768px) {
      padding: 33px 30px 32px;
    }
    
  }

  &_form {
    margin-bottom: 16px;   
  }

  &__title {
    margin-bottom: 6px;
    line-height: 1;

    @media (min-width: 768px) {
      font-size: 27px;
    }

    @media (min-width: 992px) {
      font-size: 30px;
      margin-bottom: 32px;
      line-height: 1.1;

    }
    @media (min-width: 992px) {
      // font-size: 34px;
      

    }
  }

  &__title-block {
    span {
      display: inline-block;
      margin: 0 1px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      width: 19px;
      height: 23px;
      line-height: 21px;
      text-align: center;
      font-size: 14px;

      @media (min-width: 992px) {
        font-size: 20px;
        width: 27px;
        height: 30px;
        line-height: 30px;

      }

    }

  }

  &_form &__title {
    font-size: 24px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  &__price {
    margin-bottom: 8px;
    font-size: 18px;

    @media (min-width: 992px) {
      margin-bottom: 20px;
      font-size: 28px;
    }

  }

  &__from {
    font-size: 14px;
    @media (min-width: 992px) {
      font-size: 16px;
    }
  }

  &_form &__from{
    font-size: 15px;
  }

  &_form &__price {
    font-size: 20px;
    margin-bottom: 22px;
  }

  &__old-price {
    text-decoration-line: line-through;
  }

  &__note {
    font-weight: 500;
  }

  &_form &__note {
    border-bottom: 2px solid #E05B23;
    margin: 0 3px;
  }

  &__rest {
    font-size: 10px;
    @media (min-width: 992px) {
      font-size: 14px;
    }
  }

  &_form &__rest {
    font-size: 11px;
  }
}


@media (min-width: 768px) {
  .site-header {
    &_thank {
      h1 {
        text-align: center;
        margin-left: auto;
      }
    }
  }

  .page-template-template-thank {
    .site-header {

      h1 {
        font-size: 42px;
        text-align: center;
        margin-top: 80px;
        width: auto;
      }
    }
  }

  .fa_offer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    &_form {
      text-align: left;
    }

    &_form &__title {
      margin-left: 0;
      width: 100%;
      font-size: 29px;

    }

    &_form &__price {
      font-size: 25px;
    }

    &_form &__rest {
      font-size: 13px;
      @media (min-width: 1200px) {
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 992px) {

  .fa_offer {
    &_form {
      margin-bottom: 0;
    }

    &_form &__title {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 4px;
    }

    &_form &__title-block {
      margin-right: 6px;
      @media (min-width: 1200px) {
        font-size: 34px;
      }

      &:nth-child(2) {
        order: 1;
      }

      span {
        width: 27px;
        height: 33px;
        line-height: 30px;
        font-weight: 400;

        font-size: 22px;

      }

    }

    &_form &__note {
      margin: 0 1px;
    }


    &_form &__from{
      @media (min-width: 1200px) {
        font-size: 26px;
      }
    }

    &_form &__price {
      margin-bottom: 38px;
      font-size: 26px;
    }





  }

}