// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp01-name: 'sp01';
$sp01-x: 0px;
$sp01-y: 549px;
$sp01-offset-x: 0px;
$sp01-offset-y: -549px;
$sp01-width: 22px;
$sp01-height: 28px;
$sp01-total-width: 216px;
$sp01-total-height: 1128px;
$sp01-image: '../images/sprite.png';
$sp01: (0px, 549px, 0px, -549px, 22px, 28px, 216px, 1128px, '../images/sprite.png', 'sp01', );
$sp02-name: 'sp02';
$sp02-x: 0px;
$sp02-y: 418px;
$sp02-offset-x: 0px;
$sp02-offset-y: -418px;
$sp02-width: 27px;
$sp02-height: 26px;
$sp02-total-width: 216px;
$sp02-total-height: 1128px;
$sp02-image: '../images/sprite.png';
$sp02: (0px, 418px, 0px, -418px, 27px, 26px, 216px, 1128px, '../images/sprite.png', 'sp02', );
$sp03-name: 'sp03';
$sp03-x: 0px;
$sp03-y: 20px;
$sp03-offset-x: 0px;
$sp03-offset-y: -20px;
$sp03-width: 10px;
$sp03-height: 7px;
$sp03-total-width: 216px;
$sp03-total-height: 1128px;
$sp03-image: '../images/sprite.png';
$sp03: (0px, 20px, 0px, -20px, 10px, 7px, 216px, 1128px, '../images/sprite.png', 'sp03', );
$sp04-name: 'sp04';
$sp04-x: 0px;
$sp04-y: 0px;
$sp04-offset-x: 0px;
$sp04-offset-y: 0px;
$sp04-width: 12px;
$sp04-height: 2px;
$sp04-total-width: 216px;
$sp04-total-height: 1128px;
$sp04-image: '../images/sprite.png';
$sp04: (0px, 0px, 0px, 0px, 12px, 2px, 216px, 1128px, '../images/sprite.png', 'sp04', );
$sp05-name: 'sp05';
$sp05-x: 0px;
$sp05-y: 59px;
$sp05-offset-x: 0px;
$sp05-offset-y: -59px;
$sp05-width: 12px;
$sp05-height: 12px;
$sp05-total-width: 216px;
$sp05-total-height: 1128px;
$sp05-image: '../images/sprite.png';
$sp05: (0px, 59px, 0px, -59px, 12px, 12px, 216px, 1128px, '../images/sprite.png', 'sp05', );
$sp06-name: 'sp06';
$sp06-x: 0px;
$sp06-y: 27px;
$sp06-offset-x: 0px;
$sp06-offset-y: -27px;
$sp06-width: 12px;
$sp06-height: 9px;
$sp06-total-width: 216px;
$sp06-total-height: 1128px;
$sp06-image: '../images/sprite.png';
$sp06: (0px, 27px, 0px, -27px, 12px, 9px, 216px, 1128px, '../images/sprite.png', 'sp06', );
$sp07-name: 'sp07';
$sp07-x: 0px;
$sp07-y: 154px;
$sp07-offset-x: 0px;
$sp07-offset-y: -154px;
$sp07-width: 18px;
$sp07-height: 18px;
$sp07-total-width: 216px;
$sp07-total-height: 1128px;
$sp07-image: '../images/sprite.png';
$sp07: (0px, 154px, 0px, -154px, 18px, 18px, 216px, 1128px, '../images/sprite.png', 'sp07', );
$sp08-name: 'sp08';
$sp08-x: 0px;
$sp08-y: 210px;
$sp08-offset-x: 0px;
$sp08-offset-y: -210px;
$sp08-width: 16px;
$sp08-height: 20px;
$sp08-total-width: 216px;
$sp08-total-height: 1128px;
$sp08-image: '../images/sprite.png';
$sp08: (0px, 210px, 0px, -210px, 16px, 20px, 216px, 1128px, '../images/sprite.png', 'sp08', );
$sp09-name: 'sp09';
$sp09-x: 0px;
$sp09-y: 1004px;
$sp09-offset-x: 0px;
$sp09-offset-y: -1004px;
$sp09-width: 142px;
$sp09-height: 62px;
$sp09-total-width: 216px;
$sp09-total-height: 1128px;
$sp09-image: '../images/sprite.png';
$sp09: (0px, 1004px, 0px, -1004px, 142px, 62px, 216px, 1128px, '../images/sprite.png', 'sp09', );
$sp10-name: 'sp10';
$sp10-x: 0px;
$sp10-y: 1066px;
$sp10-offset-x: 0px;
$sp10-offset-y: -1066px;
$sp10-width: 216px;
$sp10-height: 62px;
$sp10-total-width: 216px;
$sp10-total-height: 1128px;
$sp10-image: '../images/sprite.png';
$sp10: (0px, 1066px, 0px, -1066px, 216px, 62px, 216px, 1128px, '../images/sprite.png', 'sp10', );
$sp11-name: 'sp11';
$sp11-x: 0px;
$sp11-y: 10px;
$sp11-offset-x: 0px;
$sp11-offset-y: -10px;
$sp11-width: 160px;
$sp11-height: 4px;
$sp11-total-width: 216px;
$sp11-total-height: 1128px;
$sp11-image: '../images/sprite.png';
$sp11: (0px, 10px, 0px, -10px, 160px, 4px, 216px, 1128px, '../images/sprite.png', 'sp11', );
$sp12-name: 'sp12';
$sp12-x: 0px;
$sp12-y: 6px;
$sp12-offset-x: 0px;
$sp12-offset-y: -6px;
$sp12-width: 160px;
$sp12-height: 4px;
$sp12-total-width: 216px;
$sp12-total-height: 1128px;
$sp12-image: '../images/sprite.png';
$sp12: (0px, 6px, 0px, -6px, 160px, 4px, 216px, 1128px, '../images/sprite.png', 'sp12', );
$sp13-name: 'sp13';
$sp13-x: 0px;
$sp13-y: 392px;
$sp13-offset-x: 0px;
$sp13-offset-y: -392px;
$sp13-width: 25px;
$sp13-height: 26px;
$sp13-total-width: 216px;
$sp13-total-height: 1128px;
$sp13-image: '../images/sprite.png';
$sp13: (0px, 392px, 0px, -392px, 25px, 26px, 216px, 1128px, '../images/sprite.png', 'sp13', );
$sp14-name: 'sp14';
$sp14-x: 0px;
$sp14-y: 770px;
$sp14-offset-x: 0px;
$sp14-offset-y: -770px;
$sp14-width: 30px;
$sp14-height: 58px;
$sp14-total-width: 216px;
$sp14-total-height: 1128px;
$sp14-image: '../images/sprite.png';
$sp14: (0px, 770px, 0px, -770px, 30px, 58px, 216px, 1128px, '../images/sprite.png', 'sp14', );
$sp15-name: 'sp15';
$sp15-x: 0px;
$sp15-y: 828px;
$sp15-offset-x: 0px;
$sp15-offset-y: -828px;
$sp15-width: 29px;
$sp15-height: 58px;
$sp15-total-width: 216px;
$sp15-total-height: 1128px;
$sp15-image: '../images/sprite.png';
$sp15: (0px, 828px, 0px, -828px, 29px, 58px, 216px, 1128px, '../images/sprite.png', 'sp15', );
$sp16-name: 'sp16';
$sp16-x: 0px;
$sp16-y: 317px;
$sp16-offset-x: 0px;
$sp16-offset-y: -317px;
$sp16-width: 20px;
$sp16-height: 25px;
$sp16-total-width: 216px;
$sp16-total-height: 1128px;
$sp16-image: '../images/sprite.png';
$sp16: (0px, 317px, 0px, -317px, 20px, 25px, 216px, 1128px, '../images/sprite.png', 'sp16', );
$sp17-name: 'sp17';
$sp17-x: 0px;
$sp17-y: 496px;
$sp17-offset-x: 0px;
$sp17-offset-y: -496px;
$sp17-width: 26px;
$sp17-height: 26px;
$sp17-total-width: 216px;
$sp17-total-height: 1128px;
$sp17-image: '../images/sprite.png';
$sp17: (0px, 496px, 0px, -496px, 26px, 26px, 216px, 1128px, '../images/sprite.png', 'sp17', );
$sp18-name: 'sp18';
$sp18-x: 0px;
$sp18-y: 85px;
$sp18-offset-x: 0px;
$sp18-offset-y: -85px;
$sp18-width: 16px;
$sp18-height: 16px;
$sp18-total-width: 216px;
$sp18-total-height: 1128px;
$sp18-image: '../images/sprite.png';
$sp18: (0px, 85px, 0px, -85px, 16px, 16px, 216px, 1128px, '../images/sprite.png', 'sp18', );
$sp19-name: 'sp19';
$sp19-x: 0px;
$sp19-y: 14px;
$sp19-offset-x: 0px;
$sp19-offset-y: -14px;
$sp19-width: 10px;
$sp19-height: 6px;
$sp19-total-width: 216px;
$sp19-total-height: 1128px;
$sp19-image: '../images/sprite.png';
$sp19: (0px, 14px, 0px, -14px, 10px, 6px, 216px, 1128px, '../images/sprite.png', 'sp19', );
$sp20-name: 'sp20';
$sp20-x: 0px;
$sp20-y: 2px;
$sp20-offset-x: 0px;
$sp20-offset-y: -2px;
$sp20-width: 100px;
$sp20-height: 4px;
$sp20-total-width: 216px;
$sp20-total-height: 1128px;
$sp20-image: '../images/sprite.png';
$sp20: (0px, 2px, 0px, -2px, 100px, 4px, 216px, 1128px, '../images/sprite.png', 'sp20', );
$sp21-name: 'sp21';
$sp21-x: 0px;
$sp21-y: 470px;
$sp21-offset-x: 0px;
$sp21-offset-y: -470px;
$sp21-width: 14px;
$sp21-height: 26px;
$sp21-total-width: 216px;
$sp21-total-height: 1128px;
$sp21-image: '../images/sprite.png';
$sp21: (0px, 470px, 0px, -470px, 14px, 26px, 216px, 1128px, '../images/sprite.png', 'sp21', );
$sp22-name: 'sp22';
$sp22-x: 0px;
$sp22-y: 444px;
$sp22-offset-x: 0px;
$sp22-offset-y: -444px;
$sp22-width: 14px;
$sp22-height: 26px;
$sp22-total-width: 216px;
$sp22-total-height: 1128px;
$sp22-image: '../images/sprite.png';
$sp22: (0px, 444px, 0px, -444px, 14px, 26px, 216px, 1128px, '../images/sprite.png', 'sp22', );
$sp23-name: 'sp23';
$sp23-x: 0px;
$sp23-y: 118px;
$sp23-offset-x: 0px;
$sp23-offset-y: -118px;
$sp23-width: 18px;
$sp23-height: 18px;
$sp23-total-width: 216px;
$sp23-total-height: 1128px;
$sp23-image: '../images/sprite.png';
$sp23: (0px, 118px, 0px, -118px, 18px, 18px, 216px, 1128px, '../images/sprite.png', 'sp23', );
$sp24-name: 'sp24';
$sp24-x: 0px;
$sp24-y: 71px;
$sp24-offset-x: 0px;
$sp24-offset-y: -71px;
$sp24-width: 19px;
$sp24-height: 14px;
$sp24-total-width: 216px;
$sp24-total-height: 1128px;
$sp24-image: '../images/sprite.png';
$sp24: (0px, 71px, 0px, -71px, 19px, 14px, 216px, 1128px, '../images/sprite.png', 'sp24', );
$sp25-name: 'sp25';
$sp25-x: 0px;
$sp25-y: 522px;
$sp25-offset-x: 0px;
$sp25-offset-y: -522px;
$sp25-width: 27px;
$sp25-height: 27px;
$sp25-total-width: 216px;
$sp25-total-height: 1128px;
$sp25-image: '../images/sprite.png';
$sp25: (0px, 522px, 0px, -522px, 27px, 27px, 216px, 1128px, '../images/sprite.png', 'sp25', );
$sp26-name: 'sp26';
$sp26-x: 0px;
$sp26-y: 36px;
$sp26-offset-x: 0px;
$sp26-offset-y: -36px;
$sp26-width: 14px;
$sp26-height: 11px;
$sp26-total-width: 216px;
$sp26-total-height: 1128px;
$sp26-image: '../images/sprite.png';
$sp26: (0px, 36px, 0px, -36px, 14px, 11px, 216px, 1128px, '../images/sprite.png', 'sp26', );
$sp27-name: 'sp27';
$sp27-x: 0px;
$sp27-y: 945px;
$sp27-offset-x: 0px;
$sp27-offset-y: -945px;
$sp27-width: 30px;
$sp27-height: 59px;
$sp27-total-width: 216px;
$sp27-total-height: 1128px;
$sp27-image: '../images/sprite.png';
$sp27: (0px, 945px, 0px, -945px, 30px, 59px, 216px, 1128px, '../images/sprite.png', 'sp27', );
$sp28-name: 'sp28';
$sp28-x: 0px;
$sp28-y: 886px;
$sp28-offset-x: 0px;
$sp28-offset-y: -886px;
$sp28-width: 30px;
$sp28-height: 59px;
$sp28-total-width: 216px;
$sp28-total-height: 1128px;
$sp28-image: '../images/sprite.png';
$sp28: (0px, 886px, 0px, -886px, 30px, 59px, 216px, 1128px, '../images/sprite.png', 'sp28', );
$sp29-name: 'sp29';
$sp29-x: 0px;
$sp29-y: 191px;
$sp29-offset-x: 0px;
$sp29-offset-y: -191px;
$sp29-width: 10px;
$sp29-height: 19px;
$sp29-total-width: 216px;
$sp29-total-height: 1128px;
$sp29-image: '../images/sprite.png';
$sp29: (0px, 191px, 0px, -191px, 10px, 19px, 216px, 1128px, '../images/sprite.png', 'sp29', );
$sp30-name: 'sp30';
$sp30-x: 0px;
$sp30-y: 172px;
$sp30-offset-x: 0px;
$sp30-offset-y: -172px;
$sp30-width: 10px;
$sp30-height: 19px;
$sp30-total-width: 216px;
$sp30-total-height: 1128px;
$sp30-image: '../images/sprite.png';
$sp30: (0px, 172px, 0px, -172px, 10px, 19px, 216px, 1128px, '../images/sprite.png', 'sp30', );
$sp31-name: 'sp31';
$sp31-x: 0px;
$sp31-y: 577px;
$sp31-offset-x: 0px;
$sp31-offset-y: -577px;
$sp31-width: 15px;
$sp31-height: 30px;
$sp31-total-width: 216px;
$sp31-total-height: 1128px;
$sp31-image: '../images/sprite.png';
$sp31: (0px, 577px, 0px, -577px, 15px, 30px, 216px, 1128px, '../images/sprite.png', 'sp31', );
$sp32-name: 'sp32';
$sp32-x: 0px;
$sp32-y: 607px;
$sp32-offset-x: 0px;
$sp32-offset-y: -607px;
$sp32-width: 15px;
$sp32-height: 30px;
$sp32-total-width: 216px;
$sp32-total-height: 1128px;
$sp32-image: '../images/sprite.png';
$sp32: (0px, 607px, 0px, -607px, 15px, 30px, 216px, 1128px, '../images/sprite.png', 'sp32', );
$sp33-name: 'sp33';
$sp33-x: 0px;
$sp33-y: 720px;
$sp33-offset-x: 0px;
$sp33-offset-y: -720px;
$sp33-width: 64px;
$sp33-height: 50px;
$sp33-total-width: 216px;
$sp33-total-height: 1128px;
$sp33-image: '../images/sprite.png';
$sp33: (0px, 720px, 0px, -720px, 64px, 50px, 216px, 1128px, '../images/sprite.png', 'sp33', );
$sp34-name: 'sp34';
$sp34-x: 0px;
$sp34-y: 672px;
$sp34-offset-x: 0px;
$sp34-offset-y: -672px;
$sp34-width: 62px;
$sp34-height: 48px;
$sp34-total-width: 216px;
$sp34-total-height: 1128px;
$sp34-image: '../images/sprite.png';
$sp34: (0px, 672px, 0px, -672px, 62px, 48px, 216px, 1128px, '../images/sprite.png', 'sp34', );
$sp35-name: 'sp35';
$sp35-x: 0px;
$sp35-y: 342px;
$sp35-offset-x: 0px;
$sp35-offset-y: -342px;
$sp35-width: 33px;
$sp35-height: 25px;
$sp35-total-width: 216px;
$sp35-total-height: 1128px;
$sp35-image: '../images/sprite.png';
$sp35: (0px, 342px, 0px, -342px, 33px, 25px, 216px, 1128px, '../images/sprite.png', 'sp35', );
$sp36-name: 'sp36';
$sp36-x: 0px;
$sp36-y: 367px;
$sp36-offset-x: 0px;
$sp36-offset-y: -367px;
$sp36-width: 32px;
$sp36-height: 25px;
$sp36-total-width: 216px;
$sp36-total-height: 1128px;
$sp36-image: '../images/sprite.png';
$sp36: (0px, 367px, 0px, -367px, 32px, 25px, 216px, 1128px, '../images/sprite.png', 'sp36', );
$sp37-name: 'sp37';
$sp37-x: 0px;
$sp37-y: 136px;
$sp37-offset-x: 0px;
$sp37-offset-y: -136px;
$sp37-width: 18px;
$sp37-height: 18px;
$sp37-total-width: 216px;
$sp37-total-height: 1128px;
$sp37-image: '../images/sprite.png';
$sp37: (0px, 136px, 0px, -136px, 18px, 18px, 216px, 1128px, '../images/sprite.png', 'sp37', );
$sp38-name: 'sp38';
$sp38-x: 0px;
$sp38-y: 47px;
$sp38-offset-x: 0px;
$sp38-offset-y: -47px;
$sp38-width: 14px;
$sp38-height: 12px;
$sp38-total-width: 216px;
$sp38-total-height: 1128px;
$sp38-image: '../images/sprite.png';
$sp38: (0px, 47px, 0px, -47px, 14px, 12px, 216px, 1128px, '../images/sprite.png', 'sp38', );
$sp39-name: 'sp39';
$sp39-x: 0px;
$sp39-y: 637px;
$sp39-offset-x: 0px;
$sp39-offset-y: -637px;
$sp39-width: 48px;
$sp39-height: 35px;
$sp39-total-width: 216px;
$sp39-total-height: 1128px;
$sp39-image: '../images/sprite.png';
$sp39: (0px, 637px, 0px, -637px, 48px, 35px, 216px, 1128px, '../images/sprite.png', 'sp39', );
$sp40-name: 'sp40';
$sp40-x: 0px;
$sp40-y: 294px;
$sp40-offset-x: 0px;
$sp40-offset-y: -294px;
$sp40-width: 33px;
$sp40-height: 23px;
$sp40-total-width: 216px;
$sp40-total-height: 1128px;
$sp40-image: '../images/sprite.png';
$sp40: (0px, 294px, 0px, -294px, 33px, 23px, 216px, 1128px, '../images/sprite.png', 'sp40', );
$sp41-name: 'sp41';
$sp41-x: 0px;
$sp41-y: 271px;
$sp41-offset-x: 0px;
$sp41-offset-y: -271px;
$sp41-width: 27px;
$sp41-height: 23px;
$sp41-total-width: 216px;
$sp41-total-height: 1128px;
$sp41-image: '../images/sprite.png';
$sp41: (0px, 271px, 0px, -271px, 27px, 23px, 216px, 1128px, '../images/sprite.png', 'sp41', );
$sp42-name: 'sp42';
$sp42-x: 0px;
$sp42-y: 250px;
$sp42-offset-x: 0px;
$sp42-offset-y: -250px;
$sp42-width: 16px;
$sp42-height: 21px;
$sp42-total-width: 216px;
$sp42-total-height: 1128px;
$sp42-image: '../images/sprite.png';
$sp42: (0px, 250px, 0px, -250px, 16px, 21px, 216px, 1128px, '../images/sprite.png', 'sp42', );
$sp43-name: 'sp43';
$sp43-x: 0px;
$sp43-y: 230px;
$sp43-offset-x: 0px;
$sp43-offset-y: -230px;
$sp43-width: 20px;
$sp43-height: 20px;
$sp43-total-width: 216px;
$sp43-total-height: 1128px;
$sp43-image: '../images/sprite.png';
$sp43: (0px, 230px, 0px, -230px, 20px, 20px, 216px, 1128px, '../images/sprite.png', 'sp43', );
$sp44-name: 'sp44';
$sp44-x: 0px;
$sp44-y: 101px;
$sp44-offset-x: 0px;
$sp44-offset-y: -101px;
$sp44-width: 20px;
$sp44-height: 17px;
$sp44-total-width: 216px;
$sp44-total-height: 1128px;
$sp44-image: '../images/sprite.png';
$sp44: (0px, 101px, 0px, -101px, 20px, 17px, 216px, 1128px, '../images/sprite.png', 'sp44', );
$spritesheet-width: 216px;
$spritesheet-height: 1128px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($sp01, $sp02, $sp03, $sp04, $sp05, $sp06, $sp07, $sp08, $sp09, $sp10, $sp11, $sp12, $sp13, $sp14, $sp15, $sp16, $sp17, $sp18, $sp19, $sp20, $sp21, $sp22, $sp23, $sp24, $sp25, $sp26, $sp27, $sp28, $sp29, $sp30, $sp31, $sp32, $sp33, $sp34, $sp35, $sp36, $sp37, $sp38, $sp39, $sp40, $sp41, $sp42, $sp43, $sp44, );
$spritesheet: (216px, 1128px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
