<section id="about" class="fa_mazo-area fa_frame">
  <div class="fa_container">
    <h2>Об Открытом Институте Южной Осетии</h2>
    <div class="fa_maintabs-cont">
      <ul class="fa_maintabs-nav">
        <li class="active"><a href="#tab1" class="js-tab-link active">О ВУЗе</a></li>
        <li><a href="#tab2" class="js-tab-link">Фото</a></li>
        <li><a href="#tab3" class="js-tab-link">Руководство</a></li>
        <li><a href="https://xn--80axh3d.xn--p1ai/nagradi/" rel="external">Письма о возможности трудоустройства</a></li>
      </ul>
      <div class="fa_maintabs-cont__body">
        <div id="tab1" class="fa_maintabs active">
          <ul class="tab1-list">
            <li class="tab1-list__item">
              <div class="fa_topcard">
                <div class="fa_topcard__mediabox"><img src="images/icons/icons.svg#ico12" alt=""></div>
                <div class="fa_topcard__body">
                  <div class="fa_topcard__label">10 </div>
                  <div class="fa_topcard__text">лет успешной работы. Основан в 2008 году</div>
                </div>
              </div>
            </li>
            <li class="tab1-list__item">
              <div class="fa_topcard">
                <div class="fa_topcard__mediabox"><img src="images/icons/icons.svg#ico13" alt=""></div>
                <div class="fa_topcard__body">
                  <div class="fa_topcard__label">6 000</div>
                  <div class="fa_topcard__text">кв. м. площадь помещений ВУЗа</div>
                </div>
              </div>
            </li>
            <li class="tab1-list__item">
              <div class="fa_topcard">
                <div class="fa_topcard__mediabox"><img src="images/icons/icons.svg#ico14" alt=""></div>
                <div class="fa_topcard__body">
                  <div class="fa_topcard__label">1 034</div>
                  <div class="fa_topcard__text">студента обучается одновременно</div>
                </div>
              </div>
            </li>
         
            <li class="tab1-list__item">
              <div class="fa_topcard">
                <div class="fa_topcard__mediabox"><img src="images/icons/icons.svg#ico15" alt=""></div>
                <div class="fa_topcard__body">
                  <div class="fa_topcard__label">70</div>
                  <div class="fa_topcard__text">преподавателей. 2 академика, 12 докторов наук, 51 кандидат наук</div>
                </div>
              </div>
            </li>
            <li class="tab1-list__item">
              <div class="fa_topcard">
                <div class="fa_topcard__mediabox"><img src="images/icons/icons.svg#ico16" alt=""></div>
                <div class="fa_topcard__body">
                  <div class="fa_topcard__label">14</div>
                  <div class="fa_topcard__text">направлений высшего образования</div>
                </div>
              </div>
            </li>
          
          </ul>
        </div>
        <div id="tab2" class="fa_maintabs">
          <div class="simpleGallery">
            <div class="simpleGallery__item">
              <a class="fa_zoom" data-fancybox="sgallery" href="images/photo1.jpg"><img src="images/photo-t1.jpg" alt=""></a>
            </div>
            <div class="simpleGallery__item">
              <a class="fa_zoom" data-fancybox="sgallery" href="images/photo2.jpg"><img src="images/photo-t2.jpg" alt=""></a>
            </div>
            <div class="simpleGallery__item">
              <a class="fa_zoom" data-fancybox="sgallery" href="images/photo3.jpg"><img src="images/photo-t3.jpg" alt=""></a>
            </div>
            <div class="simpleGallery__item">
              <a class="fa_zoom" data-fancybox="sgallery" href="images/photo4.jpg"><img src="images/photo-t4.jpg" alt=""></a>
            </div>
            <div class="simpleGallery__item">
              <a class="fa_zoom" data-fancybox="sgallery" href="images/photo5.jpg"><img src="images/photo-t5.jpg" alt=""></a>
            </div>
            <div class="simpleGallery__item">
              <a class="fa_zoom" data-fancybox="sgallery" href="images/photo6.jpg"><img src="images/photo-t6.jpg" alt=""></a>
            </div>
          </div>
          
        </div>
        <div id="tab3" class="fa_maintabs">
          <div class="lead-grid">
            <div class="lead-grid__item">
              <div class="lead-card">
                <div class="lead-card__mediabox"><img loading="lazy" src="images/lead1.png" alt=""></div>
                <div class="lead-card__body">
                  <div class="lead-card__post">Ректор</div>
                  <div class="lead-card__name">Волошо Анатолий Иванович</div>
                  <p class="lead-card__text">Вопросы оперативного управления учебным заведением. Внешние связи. Подбор и расстановка кадров.</p>
                </div>
              </div>
            </div>
            <div class="lead-grid__item">
              <div class="lead-card">
                <div class="lead-card__mediabox"><img loading="lazy" src="images/lead2.png" alt=""></div>
                <div class="lead-card__body">
                  <div class="lead-card__post">Проректор </div>
                  <div class="lead-card__name">Майорова Наталья Викторовна</div>
                  <p class="lead-card__text">Вопросы международного сотрудничества, научного обмена. Культорологические миссии.</p>
                </div>
              </div>              
            </div>
            <div class="lead-grid__item">
              <div class="lead-card">
                <div class="lead-card__mediabox"><img loading="lazy" src="images/lead3.png" alt=""></div>
                <div class="lead-card__body">
                  <div class="lead-card__post">Первый проектор </div>
                  <div class="lead-card__name">Еделев Дмитрий Аркадьевич</div>
                  <p class="lead-card__text">Организация учебной и научной деятельности. Руководство подведомственными центрами.</p>
                </div>
              </div>              
            </div>
            <div class="lead-grid__item">
              <div class="lead-card">
                <div class="lead-card__mediabox"><img loading="lazy" src="images/lead4.png" alt=""></div>
                <div class="lead-card__body">
                  <div class="lead-card__post">Проректор</div>
                  <div class="lead-card__name">Коган Леонид Владимирович</div>
                  <p class="lead-card__text">Вопросы Советов по присуждению ученых степеней.</p>
                </div>
              </div>              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>