<section class="fa_advantages-area fa_frame">
  <div class="fa_container">
    <h2 class="fa_title">Почему вам стоит учиться у нас?</h2>
    <div class="fa_adv-grid">
      <div class="fa_adv-grid__inner">

        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico1" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Поступление без экзаменов и ЕГЭ</div>
            <div class="fa_adv-card__text">Для поступления достаточно копии документа об образовании (аттестат, диплом и др.).</div>
          </div>
        </div>
        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico2" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Престижный диплом государственного образца</div>
            <div class="fa_adv-card__text">ВУЗ имеет статус экспериментальной образовательной площадки в сфере высшего образования Министерства образования и науки РЮО.</div>
          </div>
        </div>
        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico3" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Диплом признается в Российской Федерации</div>
            <div class="fa_adv-card__text">Согласно <a href="#">Федеральному закону № 68-фз от 08.04.2018 г.</a> «О ратификации Соглашения между Правительством Российской Федерации и Правительством Республики Южная Осетия о взаимном признании образования и (или) квалификаций».</div>
          </div>
        </div>        
        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico4" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Всего 10-13 часов в неделю</div>
            <div class="fa_adv-card__text">требуется нашим студентам для полноценного обучения, благодаря максимальной оптимизации учебного процесса.</div>
          </div>
        </div>
        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico5" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Комфортная помесячная оплата</div>
            <div class="fa_adv-card__text">Небольшое ежемесячные платежи комфортнее, чем крупные платежи по семестрам. Оплата оптимизирована по регионам РФ. Чтобы узнать цену в вашем регионе, оставьте заявку. </div>
          </div>
        </div>
        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico6" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Не нужно приезжать в ВУЗ</div>
            <div class="fa_adv-card__text">Образование полностью дистанционное.</div>
          </div>
        </div>
        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico7" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Поступление в любое время</div>
            <div class="fa_adv-card__text">Не нужно ждать 1 сентября, чтобы поступить в ВУЗ.</div>
          </div>
        </div>
        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico8" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Сокращенная форма обучения для выпускников любого колледжа</div>
          </div>
        </div>
        <div class="fa_adv-grid__item fa_adv-card">
          <div class="fa_adv-card__mediabox"><img src="images/icons/icons.svg#ico9" alt=""></div>
          <div class="fa_adv-card__body">
            <div class="fa_adv-card__label">Перевод из других ВУЗов без потери курса</div>
            <div class="fa_adv-card__text">Принимаем студентов государственных и негосударственных ВУЗов на все направления без потери курса. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>