<section class="fa_contact-area fa_frame">
  <div class="fa_container fa_contact-area__wrap">
    <div class="fa_contact-area__body">
      <h2 class="fa_title">Контакты</h2>
      <ul class="fa_contact-list">
        <li>
          <div class="fa_contact-list__mediabox"><img src="images/icons/icons.svg#c-phone" alt=""></div>
          <div class="fa_contact-list__body"><b>8 800 234 17 05</b><br>Звонок по России бесплатный</div>
        </li>
        <li>
          <div class="fa_contact-list__mediabox"><img src="images/icons/icons.svg#c-clock" alt=""></div>
          <div class="fa_contact-list__body">Звонки принимаются с понедельника по пятницу с 10:00 до 18:00 по Московскому времени.</div>
        </li>
        <li>
          <div class="fa_contact-list__mediabox"><img src="images/icons/icons.svg#c-geo" alt=""></div>
          <div class="fa_contact-list__body">410065, г. Саратов, ул. проспект им. 50 лет Октября, д. 93Г</div>
        </li>
        <li>
          <div class="fa_contact-list__mediabox"><img src="images/icons/icons.svg#ct-mail" alt=""></div>
          <div class="fa_contact-list__body"><a href="mailto:info@pimiu.рф">info@pimiu.рф</a></div>
        </li>
      </ul>
    </div>
    <div class="fa_contact-area__map">
      <div id="map"></div>
    </div>
  </div>
</section>