<section class="fa_doc-area fa_frame ">
  <div class="fa_container">
    <div class="fa_doc-area__wrap">
      <div class="fa_doc-area__left">
        <h2 class="fa_title">2 диплома по цене одного!</h2>
        <div class="fa_row">
          <div class="fa_col">
            <div class="fa_doc-area__title">Диплом государственного образца о высшем профессиональном образовании </div>
            <div class="fa_doc-slider__wrapper">
              <div class="fa_doc-slider js-doc-slider swiper-container">
                <div class="swiper-wrapper">
                  <div class="fa_doc-slider__item swiper-slide"> <a href="images/dip-l1.jpg" data-webp="images/dip-l1.webp" data-fancybox="gallery" class="fa_zoom js-image">
                      <picture>
                        <source srcset="images/dip1.webp" type="image/webp"><img src="images/dip1.jpg" alt="logo">
                      </picture>
                    </a></div>
                  <div class="fa_doc-slider__item swiper-slide"><a href="images/dip-l2.jpg" data-webp="images/dip-l2.webp" data-fancybox="gallery" class="fa_zoom js-image">
                      <picture>
                        <source srcset="images/dip2.webp" type="image/webp"><img src="images/dip2.jpg" alt="logo">
                      </picture>
                    </a></div>
                  <div class="fa_doc-slider__item swiper-slide"><a href="images/dip-l3.jpg" data-webp="images/dip-l3.webp" data-fancybox="gallery" class="fa_zoom js-image">
                      <picture>
                        <source srcset="images/dip3.webp" type="image/webp"><img src="images/dip3.jpg" alt="logo">
                      </picture>
                    </a></div>
                </div>
              </div>
              <div class="fa_slider-arrow fa_slider-arrow_next fa_doc-slider__arrow fa_doc-slider__arrow_next-0"></div>
              <div class="fa_slider-arrow fa_slider-arrow_prev fa_doc-slider__arrow fa_doc-slider__arrow_prev-0"></div>
            </div>
            <div class="fa_doc-area__desc">Диплом <a href="doc/68fz.pdf" rel="external">признается в Российской Федерации</a>
              <div>Дистанционный и заочный формат обучения в дипломе не указывается</div>
            </div>
          </div>
          <div class="fa_col">
            <div class="fa_doc-area__title">Диплом о профессиональной переподготовке по 3-м специальностям на выбор </div>
            <div class="fa_doc-slider__wrapper">
              <div class="fa_doc-slider js-doc-slider swiper-container">
                <div class="swiper-wrapper">
                  <div class="fa_doc-slider__item swiper-slide"> <a href="images/dip-l4.jpg" data-webp="images/dip-l4.webp" data-fancybox="gallery" class="fa_zoom js-image">
                      <picture>
                        <source srcset="images/dip4.webp" type="image/webp"><img src="images/dip4.jpg" alt="logo">
                      </picture>
                    </a></div>
                  <div class="fa_doc-slider__item swiper-slide"><a href="images/dip-l2.jpg" data-webp="images/dip-l2.webp" data-fancybox="gallery" class="fa_zoom js-image">
                      <picture>
                        <source srcset="images/dip2.webp" type="image/webp"><img src="images/dip2.jpg" alt="logo">
                      </picture>
                    </a></div>
                  <div class="fa_doc-slider__item swiper-slide"><a href="images/dip-l3.jpg" data-webp="images/dip-l3.webp" data-fancybox="gallery" class="fa_zoom js-image">
                      <picture>
                        <source srcset="images/dip3.webp" type="image/webp"><img src="images/dip3.jpg" alt="logo">
                      </picture>
                    </a></div>
                </div>
              </div>
              <div class="fa_slider-arrow fa_slider-arrow_next fa_doc-slider__arrow fa_doc-slider__arrow_next-1"></div>
              <div class="fa_slider-arrow fa_slider-arrow_prev fa_doc-slider__arrow fa_doc-slider__arrow_prev-1"></div>
            </div>
            <div class="fa_doc-area__desc"> <a href="#diplom-modal" data-fancybox>Подробнее</a></div>
          </div>
        </div>
      </div>
      <div class="fa_doc-area__right">
        <div class="fa_sert-card">
          <div class="fa_sert-card__body">
            <div class="fa_sert-card__title">Подарок!</div>
            <div class="fa_sert-card__desc">Сертификат соответствия Профессиональному стандарту </div><a href="#sert-modal" data-fancybox class="fa_sert-card__more">Подробнее</a>
          </div>
          <div class="fa_sert-card__mediabox"> <a href="images/new_surp.jpg" data-webp="images/new_surp.webp" data-fancybox class="fa_zoom js-image">
              <picture>
                <source srcset="images/sert.webp" type="image/webp"><img src="images/sert.jpg" alt="logo">
              </picture>
            </a></div>
          <div class="fa_sert-card__dop"><a href="#sert-modal" data-fancybox class="fa_sert-card__more">Подробнее</a></div>
        </div>
      </div>
    </div>
  </div>
</section>