<section class="fa_faq-area fa_frame">
  <div class="fa_container">
    <h2 class="fa_title">Часто задаваемые вопросы</h2>
    <div class="fa_faq-grid">
      <div class="fa_faq-grid__col">
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Нужно ли приезжать в институт?</span></a></div>
            <div class="fa_faq-card__body">
              <p>Нет. Весь образовательный процесс от обучения до получения диплома проходит дистанционно.</p>
            </div>
          </div>
        </div>        
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Котируется ли диплом Открытого Института Юной Осетии в России?</span></a></div>
            <div class="fa_faq-card__body">
              <p>Да. Согласно 
Федеральному закону No 68-фз от 08.04.2018 г.,
 он имеет равную силу с 
дипломами российских ВУЗов.</p>
            </div>
          </div>
        </div>
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Нужно ли покупать учебные материалы?</span></a></div>
            <div class="fa_faq-card__body">
              <p>Нет. Все учебные материалы в электронном виде расположены в вашем личном кабинете 
и включены в стоимость.</p>
            </div>
          </div>
        </div>        
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Указывается ли дистанционный </span><br>формат обучения в дипломе?</a></div>
            <div class="fa_faq-card__body">
              <p>Дистанционная форма обучение в дипломе НЕ указывается. Заочная форма обучения в дипломе НЕ указывается.</p>
            </div>
          </div>
        </div>
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Есть ли бюджетные места?</span></a></div>
            <div class="fa_faq-card__body">
              <p>Нет. Бюджетные места не предоставляем.</p>
            </div>
          </div>
        </div>
      </div>

      
      <div class="fa_faq-grid__col">
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Как осуществляется проверка заданий? </span></a></div>
            <div class="fa_faq-card__body">
              <p>В основном проверка знаний осуществляется с помощью автоматических тестов. В 
остальных случаях живыми преподавателями.</p>
            </div>
          </div>
        </div>
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Можно ли в процессе обучения задавать вопросы преподавателю?</span></a></div>
            <div class="fa_faq-card__body">
              <p>Да. Такая возможность есть в электронной образовательной платформе.</p>
            </div>
          </div>
        </div>
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Можно ли поступить на сокращенную форму обучения после колледжа?</span></a></div>
            <div class="fa_faq-card__body">
              <p>Да. В этом случае мы засчитываем пройденные вами дисциплины.</p>
            </div>
          </div>
        </div>        
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Есть ли у вас отсрочка от армии?</span></a></div>
            <div class="fa_faq-card__body">
              <p>Нет. Отсрочка от армии на дистанционно (заочной) форме обучения не предоставляется.</p>
            </div>
          </div>
        </div>        
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Какие документы нужны для поступления?</span></a></div>
            <div class="fa_faq-card__body">
              <p>Заполните форму и список документов для поступления придёт вам на почту в течение 1 минуты.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>