<footer class="fa_footer">
  <div class="fa_container">
    <div class="fa_footer__top">
      <div class="fa_footer__col">
        <div class="fa_footer__logo"> 
        	<img src="images/icons/b-logo.svg" alt="">
        	
        </div>
      </div>      
      
      <div class="fa_footer__col">
      	<ul class="fa_menu">
          <li><a href="#about" class="js-move">Об университете</a></li>
          <li><a href="#advantages" class="js-move">Преимущества</a></li>
          <li><a href="#trend" class="js-move">Направления</a></li>
          <li><a href="#license" class="js-move">Лицензия и аккредитация</a></li>         
        </ul>
      </div>
    </div>
    <div class="fa_footer__bottom">
      <div class="fa_footer__bottom-col"><a href="http://xn--j1aql2a.xn--p1ai/doc/Soglashanie_ob_obrabotke_personalnykh_dannykh_kcet.pdf" rel="external">Соглашение об обработке персональных данных </a></div>
      <div class="fa_footer__bottom-col">
        <p>© 2020. Поволжский институт Международного Инновационного Университета

</p>
      </div>
      <div class="fa_footer__bottom-col">
        <p class="fa_anti">Создание сайта: <a href="https://xn--80aajhncmohg3aug.xn--p1ai/" rel="external">АнтиМаркетинг</a></p>
      </div>
    </div>
  </div>
</footer>