<header class="site-header">
  <div class="fa_container">
    <div class="top-section">
      
        <div class="top-section__logo-cont">          
          <img src="images/icons/logo.svg" alt="logo">         
          
        </div>
      
      <div class="top-section__phone-cont">
        <div class="top-section__phone">8 800 250 87 12</div>
        <div class="top-section__phone-desc">звонок по России бесплатный<br>Пн-Пт с 10:00 до 18:00 по Москве</div>
      </div>
    </div>
    <div class="site-header__row">
      <div class="site-header__left">
        <h1>Полноценное высшее образование дистанционно за 10 часов в неделю. Поступление без экзаменов и ЕГЭ!</h1>
        <ul class="site-header-list bul-list">
          <li>Государственный диплом</li>
          <li>2 диплома по цене одного!</li>
          <li>Самые доступные цены в России</li>
          <li>Помесячная оплата</li>
          <li>Поступление круглый год</li>
        </ul>        
      </div>
      <div class="site-header__right">
        <div class="fa_offer fa_offer_header">
          <div class="fa_offer__title"> <span class="fa_offer__title-block">35 льготных мест!</span><span class="fa_offer__title-block"> Осталось: <span>0</span><span>7</span></span></div>
          <div class="fa_offer__price">
						<span class="fa_offer__from">От</span>
          	<span class="fa_offer__old-price">2 900</span>
          	<span class="fa_offer__note">2 000</span>
          	<span class="fa_offer__rest">руб/мес</span>
          </div><a href="#form-modal" data-fancybox class="fa_btn">Забронировать </a>
        </div>
      </div>
    </div>
  </div>
</header>