<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500&display=swap" rel="stylesheet"> 
  <title> </title>
  <meta name="description" content="Обучение в колледже дистанционно - 2 профессии по цене одной!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="images/1f72753e31.jpg">
  <link rel="stylesheet" href="css/libs.min.css">
  <link rel="stylesheet" href="css/main.min.css">
</head>