<section id="license" class="license-area fa_frame">
  <div class="fa_container">
   
      <div class="license-area__cont">
        <div class="license-area__col">
        	<div class="license-area__head">
	        	<h3 class="license-area__title">Лицензия на образовательную деятельность</h3>        	
        	</div>
        	<div class="license-area__slider-cont">
	          <!-- Slider main container -->
	          <div class="swiper-container js-license-slider license-slider">
	            <!-- Additional required wrapper -->
	            <div class="swiper-wrapper">
	              <!-- Slides -->
	              <div class="swiper-slide license-slider__item">
	                <a href="images/lic1.jpg" data-webp="images/lic1.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                  <picture>
	                    <source srcset="images/lic1-t.webp" type="image/webp"><img src="images/lic1-t.jpg" alt="logo">
	                  </picture>
	                </a>
	              </div>
	              <div class="swiper-slide license-slider__item">
	                 <a href="images/lic2.jpg" data-webp="images/lic2.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                    <picture>
	                      <source srcset="images/lic2-t.webp" type="image/webp"><img src="images/lic2-t.jpg" alt="logo">
	                    </picture></a>
	              </div>
	              <div class="swiper-slide license-slider__item">
	                <a href="images/lic3.jpg" data-webp="images/lic3.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                    <picture>
	                      <source srcset="images/lic3-t.webp" type="image/webp"><img src="images/lic3-t.jpg" alt="logo">
	                    </picture></a>
	              </div>
	              <div class="swiper-slide license-slider__item">
	                <a href="images/lic3.jpg" data-webp="images/lic3.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                    <picture>
	                      <source srcset="images/lic4-t.webp" type="image/webp"><img src="images/lic4-t.jpg" alt="logo">
	                    </picture></a>
	              </div>
	              <div class="swiper-slide license-slider__item">
	                <a href="images/lic3.jpg" data-webp="images/lic3.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                    <picture>
	                      <source srcset="images/lic5-t.webp" type="image/webp"><img src="images/lic5-t.jpg" alt="logo">
	                    </picture></a>
	              </div>
	            </div>
	            
	          </div>
	          <!-- If we need navigation buttons -->
            <div class="license-slider__arrow license-slider__arrow_next license-slider__arrow_next-0"></div>
            <div class="license-slider__arrow license-slider__arrow_prev license-slider__arrow_prev-0"></div>
          </div>
          <div class="license-area__desc">Срок действия: бессрочно</div>
        </div> <!-- end cool -->
        <div class="license-area__col">
        	<div class="license-area__head">
	        	<h3 class="license-area__title">Государственная аккредитация </h3>
	        	<div class="license-area__title-desc license-area__title-desc_ds">Право выдачи дипломов гос. образца</div>
        	</div>
        	<div class="license-area__slider-cont">
	          <!-- Slider main container -->
	          <div class="swiper-container js-license-slider license-slider">
	            <!-- Additional required wrapper -->
	            <div class="swiper-wrapper">
	              <!-- Slides -->
	              <div class="swiper-slide license-slider__item">
	                <a href="images/accr1.jpg" data-webp="images/accr1.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                    <picture>
	                      <source srcset="images/accr1-t.webp" type="image/webp"><img src="images/accr1-t.jpg" alt="logo">
	                    </picture></a>
	              </div>
	              <div class="swiper-slide license-slider__item">
	                <a href="images/accr2.jpg" data-webp="images/accr2.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                  <picture>
	                    <source srcset="images/accr2-t.webp" type="image/webp"><img src="images/accr2-t.jpg" alt="logo">
	                  </picture>
	                </a>
	              </div>
	              <div class="swiper-slide license-slider__item">
	                 <a href="images/accr3.jpg" data-webp="images/accr3.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                    <picture>
	                      <source srcset="images/accr3-t.webp" type="image/webp"><img src="images/accr3-t.jpg" alt="logo">
	                    </picture></a>
	              </div>
	              <div class="swiper-slide license-slider__item">
	                <a href="images/accr4.jpg" data-webp="images/accr4.webp" data-fancybox="gallery2" class="fa_zoom fa_zoom_large js-image">
	                  <picture>
	                    <source srcset="images/accr4-t.webp" type="image/webp"><img src="images/accr4-t.jpg" alt="logo">
	                  </picture>
	                </a>
	              </div>	             
	              
	            </div>
	            
	          </div>
	        	<!-- If we need navigation buttons -->
            <div class="license-slider__arrow license-slider__arrow_next license-slider__arrow_next-1"></div>
            <div class="license-slider__arrow license-slider__arrow_prev license-slider__arrow_prev-1"></div>  
          </div>
          <div class="license-area__desc license-area__desc_mb">Право выдачи дипломов гос. образца</div>
        </div> <!-- end cool -->
      </div>
    
  </div>
</section>