<section class="platform-area platform-area_ds fa_frame lite-bg">
	<div class="fa_container platform-area__cont">
		<div class="platform-area__aside">
			<ul class="pltNav-tabs">
				<li class="pltNav-tabs__item"><a href="#plt-tab1" class="pltNav-tabs__link active">Оценивание преподавателей</a></li>
				<li class="pltNav-tabs__item"><a href="#plt-tab2" class="pltNav-tabs__link">Давать максимум, не требовать лишнего</a></li>
				<li class="pltNav-tabs__item"><a href="#plt-tab3" class="pltNav-tabs__link">Отсутствие зубрёжки</a></li>
				<li class="pltNav-tabs__item"><a href="#plt-tab4" class="pltNav-tabs__link">Новейшие 3D-технологии</a></li>
				<li class="pltNav-tabs__item"><a href="#plt-tab5" class="pltNav-tabs__link">Наглядные схемы и иллюстрации</a></li>
				<li class="pltNav-tabs__item"><a href="#plt-tab6" class="pltNav-tabs__link">Психологическая разгрузка</a></li>
				<li class="pltNav-tabs__item"><a href="#plt-tab7" class="pltNav-tabs__link">Группы на Facebook</a></li>
				<li class="pltNav-tabs__item"><a href="#plt-tab8" class="pltNav-tabs__link">Личный кабинет</a></li>
			</ul>
		</div>
		<div class="platform-area__body">
			<h2 class="platform-area__title">Новейшая образовательная платформа</h2>
			<div class="pltTab-cont">
					<div id="plt-tab1" class="pltTab-cont__pane active">
						<h4 class="pltTab-cont__title">Оценивание преподавателей</h4>
						<p>Для процесса обучения, как и для любого другого, важна обратная связь. Чего стоит курс, который оказался непройденным или непонятным? Пробелы в знаниях формируются каскадами, за одним неизбежно последуют и другие, основанные на пробельной теме. Чтобы избежать подобного каждый обучающийся после получения своей оценки дает оценку пройденному курсу. Плохие отзывы являются основанием для переработки курса.</p>
					</div>
					<div id="plt-tab2" class="pltTab-cont__pane">
						<h4 class="pltTab-cont__title">Давать максимум, не требовать лишнего</h4>
						<p>Позиция института состоит в том, чтобы представить обучающимся максимальные возможности для развития и самосовершенствования. Уровень познания не имеет границ, поэтому в учебном процессе необходимо четко очертить ту грань погружения в изучаемый предмет, которая являлась бы достаточной для обучающегося данной образовательной ступени. Важно избегать введения необаснованно завышенных требований. Всем известно, что этим грешит часть преподавателей, но наша система обучения гарантирует отсутствие подобных нежелательных явлений.</p>
					</div>
					<div id="plt-tab3" class="pltTab-cont__pane">
						<h4 class="pltTab-cont__title">Отсутствие зубрёжки</h4>
						<p>Задача преподавателя состоит не в том, чтобы обеспечить неосмысленные ответы на вопросы. Создавая нашу систему обучения, мы ориентировались на раскрытие потенциала обучающихся за счет широкого использования таких видов учебных занятий как деловые игры, симуляторы, дискуссии, викторины, кроссворды. все то, что не является монотонным и способствует самостоятельным рассуждениям по представленному кругу вопросов, формирует профессиональное мышление, позволяет подготовить квалифицированного и компетентного специалиста.</p>
					</div>
					<div id="plt-tab4" class="pltTab-cont__pane">
						<h4 class="pltTab-cont__title">Новейшие 3D-технологии</h4>
						<p>Новейшие 3D технологии, ранее использовавшиеся исключительно в высокобюджетных фильмах или игровой индустрии, стали доступны для образовательного процесса. Мы используем самые прогрессивные на сегодняшний день технологии создания реалистичной виртуальной учебной среды на базе самого популярного средства разработки Unity 5. </p>
					</div>
					<div id="plt-tab5" class="pltTab-cont__pane">
						<h4 class="pltTab-cont__title">Наглядные схемы и иллюстрации</h4>
						<p>Человеческий интеллект — сложнейшая система, способная анализировать как текстовую, так и визуальную, звуковую, тактильную информацию. Наилучших результатов в обучении можно добиться благодаря дополнению учебного материала схематичным представлением в виде иерархических структур.</p>
					</div>
					<div id="plt-tab6" class="pltTab-cont__pane">
						<h4 class="pltTab-cont__title">Психологическая разгрузка</h4>
						<p>Не всегда атмосфера классического учебного процесса дружелюбна к обучающимся. Сказываются ранние пары, необходимость преодолеть путь из дома до учебного заведения, многие часы в аудитории не на самой удобной мебели, плохая погода за окном - все это факторы, негативно влияющие на способность усваивать учебный материал. Психологи и физиологи подсказали нам, как организовать дистанционный учебный процесс с максимальным комфортом. Виртуальные аудитории созданы в окружении природы с правильной постановкой освещения и всегда хорошей погодой. Недаром ведущие университеты мира практикуют занятия на открытом воздухе.</p>
					</div>
					<div id="plt-tab7" class="pltTab-cont__pane">
						<h4 class="pltTab-cont__title">Группы на Facebook</h4>
						<p>Тематические группы в социальной сети Fasebook созданы для каждой из дисциплин.</p>
						<p>На них обучающиеся получают новости из мира той или иной учебной дисциплины, обмениваются мнениями, просматривают публикации преподавателей, проходят онлайн занятия, участвуют в тематических обсуждениях, получают консультации и просто общаются.</p>
						<div class="pltf-grid">
							<div class="pltf-grid__iem"><a data-fancybox=fbgroup href="images/fbgroup1.jpg" class="fa_zoom"><span><img src="images/fbgroup1.jpg" alt=""></span></a></div>
							<div class="pltf-grid__iem"><a data-fancybox=fbgroup href="images/fbgroup2.jpg" class="fa_zoom"><span><img src="images/fbgroup2.jpg" alt=""></span></a></div>
							<div class="pltf-grid__iem"><a data-fancybox=fbgroup href="images/fbgroup3.jpg" class="fa_zoom"><span><img src="images/fbgroup3.jpg" alt=""></span></a></div>
						</div>
					</div>
					<div id="plt-tab8" class="pltTab-cont__pane">
						<h4 class="pltTab-cont__title">Личный кабинет</h4>
						<div class="pltf-grid">
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk1.jpg" class="fa_zoom"><span><img src="images/lk1.jpg" alt=""></span></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk2.jpg" class="fa_zoom"><span><img src="images/lk2.jpg" alt=""></span></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk3.jpg" class="fa_zoom"><span><img src="images/lk3.jpg" alt=""></span></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk4.jpg" class="fa_zoom"><span><img src="images/lk4.jpg" alt=""></span></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk5.jpg" class="fa_zoom"><span><img src="images/lk5.jpg" alt=""></span></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk6.jpg" class="fa_zoom"><span><img src="images/lk6.jpg" alt=""></span></a> 
							</div>
						</div>
					</div>
				</div>	
			
		</div>
	</div>
</section>

<section class="platform-area platform-area_mb fa_frame lite-bg">
	<div class="fa_container">
	<h2 class="platform-area__title">Новейшая образовательная платформа</h2>
	<div class="fa_faq-grid">
      <div class="fa_faq-grid__col">
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Оценивание преподавателей</span></a></div>
            <div class="fa_faq-card__body">
              <p>Для процесса обучения, как и для любого другого, важна обратная связь. Чего стоит курс, который оказался непройденным или непонятным? Пробелы в знаниях формируются каскадами, за одним неизбежно последуют и другие, основанные на пробельной теме. Чтобы избежать подобного каждый обучающийся после получения своей оценки дает оценку пройденному курсу. Плохие отзывы являются основанием для переработки курса.</p>
            </div>
          </div>
        </div>        
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Давать максимум, не требовать лишнего</span></a></div>
            <div class="fa_faq-card__body">
              <p>Позиция института состоит в том, чтобы представить обучающимся максимальные возможности для развития и самосовершенствования. Уровень познания не имеет границ, поэтому в учебном процессе необходимо четко очертить ту грань погружения в изучаемый предмет, которая являлась бы достаточной для обучающегося данной образовательной ступени. Важно избегать введения необаснованно завышенных требований. Всем известно, что этим грешит часть преподавателей, но наша система обучения гарантирует отсутствие подобных нежелательных явлений.</p>
            </div>
          </div>
        </div>
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Отсутствие зубрёжки</span></a></div>
            <div class="fa_faq-card__body">
              <p>Задача преподавателя состоит не в том, чтобы обеспечить неосмысленные ответы на вопросы. Создавая нашу систему обучения, мы ориентировались на раскрытие потенциала обучающихся за счет широкого использования таких видов учебных занятий как деловые игры, симуляторы, дискуссии, викторины, кроссворды. все то, что не является монотонным и способствует самостоятельным рассуждениям по представленному кругу вопросов, формирует профессиональное мышление, позволяет подготовить квалифицированного и компетентного специалиста.</p>
            </div>
          </div>
        </div>        
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Новейшие 3D-технологии</a></div>
            <div class="fa_faq-card__body">
              <p>Новейшие 3D технологии, ранее использовавшиеся исключительно в высокобюджетных фильмах или игровой индустрии, стали доступны для образовательного процесса. Мы используем самые прогрессивные на сегодняшний день технологии создания реалистичной виртуальной учебной среды на базе самого популярного средства разработки Unity 5. </p>
            </div>
          </div>
        </div>

       </div>      
      <div class="fa_faq-grid__col">

        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Наглядные схемы и иллюстрации</span></a></div>
            <div class="fa_faq-card__body">
              <p>Человеческий интеллект — сложнейшая система, способная анализировать как текстовую, так и визуальную, звуковую, тактильную информацию. Наилучших результатов в обучении можно добиться благодаря дополнению учебного материала схематичным представлением в виде иерархических структур.</p>
            </div>
          </div>
        </div>
      
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Психологическая разгрузка</span></a></div>
            <div class="fa_faq-card__body">
              <p>Не всегда атмосфера классического учебного процесса дружелюбна к обучающимся. Сказываются ранние пары, необходимость преодолеть путь из дома до учебного заведения, многие часы в аудитории не на самой удобной мебели, плохая погода за окном - все это факторы, негативно влияющие на способность усваивать учебный материал. Психологи и физиологи подсказали нам, как организовать дистанционный учебный процесс с максимальным комфортом. Виртуальные аудитории созданы в окружении природы с правильной постановкой освещения и всегда хорошей погодой. Недаром ведущие университеты мира практикуют занятия на открытом воздухе.</p>
            </div>
          </div>
        </div>
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Группы на Facebook</span></a></div>
            <div class="fa_faq-card__body">
              <p>Тематические группы в социальной сети Fasebook созданы для каждой из дисциплин.</p>

							<p>На них обучающиеся получают новости из мира той или иной учебной дисциплины, обмениваются мнениями, просматривают публикации преподавателей, проходят онлайн занятия, участвуют в тематических обсуждениях, получают консультации и просто общаются.</p>
							<div class="pltf-grid">
							<div class="pltf-grid__iem"><a data-fancybox=fbgroup href="images/fbgroup1.jpg" class="fa_zoom"><img src="images/fbgroup1.jpg" alt=""></a></div>
							<div class="pltf-grid__iem"><a data-fancybox=fbgroup href="images/fbgroup2.jpg" class="fa_zoom"><img src="images/fbgroup2.jpg" alt=""></a></div>
							<div class="pltf-grid__iem"><a data-fancybox=fbgroup href="images/fbgroup3.jpg" class="fa_zoom"><img src="images/fbgroup3.jpg" alt=""></a></div>
						</div>
            </div>
          </div>
        </div>
        <div class="fa_faq-grid__item">
          <div class="fa_faq-card">
            <div class="fa_faq-card__title"> <a href="#"> <span>Личный кабинет</span></a></div>
            <div class="fa_faq-card__body">
              <p>Можно. Вам будут перезачтены предметы, пройденные в колледже.</p>
              <div class="pltf-grid">
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk1.jpg" class="fa_zoom"><img src="images/lk1.jpg" alt=""></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk2.jpg" class="fa_zoom"><img src="images/lk2.jpg" alt=""></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk3.jpg" class="fa_zoom"><img src="images/lk3.jpg" alt=""></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk4.jpg" class="fa_zoom"><img src="images/lk4.jpg" alt=""></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk5.jpg" class="fa_zoom"><img src="images/lk5.jpg" alt=""></a>
							</div>
							<div class="pltf-grid__iem">
								<a data-fancybox=lk href="images/lk6.jpg" class="fa_zoom"><img src="images/lk6.jpg" alt=""></a>
							</div>
						</div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</section>