<section id="trend" class="fa_program-area fa_frame brand-bg">
  <div class="fa_container">
    <h2 class="fa_title">Выберите направление обучения - бакалавриат:</h2>
    <div class="fa_program-area__desc">Срок обучения: 4 года</div>
    <div class="fa_program-grid">
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program1.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico1" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Юриспруденция</div>
          </div>
        </a></div>
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program2.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico2" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Экономика</div>
          </div>
        </a></div>
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program3.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
        <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico3" alt="" class="fa_program-card__img"></div>
        <div class="fa_program-card__body">
          <div class="fa_program-card__title">Менеджмент</div>
        </div>
      </a></div>
       <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program4.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
        <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico4" alt="" class="fa_program-card__img"></div>
        <div class="fa_program-card__body">
          <div class="fa_program-card__title fa_program-card__title_sm">Специальное (дефектологическое) образование</div>
        </div>
      </a></div>

      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program5.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico5" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Дизайн</div>
          </div>
        </a></div>
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program6.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico6" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Психология</div>
          </div>
        </a></div>
      
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program7.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico7" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Конфликтология</div>
          </div>
        </a></div>
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program8.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico8" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Психолого-педагогическое образование</div>
          </div>
        </a></div>
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program9.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico9" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Информатика и вычислительная техника</div>
          </div>
        </a></div>
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program10.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico10" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Сервис</div>
          </div>
        </a></div>
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program11.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico11" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Технология изделий легкой промышленности</div>
          </div>
        </a></div>
      
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program12.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico12" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Строительство</div>
          </div>
        </a></div>
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program13.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico13" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Жилищное хозяйство и коммунальная инфраструктура</div>
          </div>
        </a></div>
      
      <div class="fa_program-grid__item"><a href="#form-modal2" data-fancybox style="background: linear-gradient(0deg, rgba(28, 40, 98, 0.6), rgba(28, 40, 98, 0.6)), url(../images/program14.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);" class="fa_program-card">
          <div class="fa_program-card__mediabox"><img src="images/icons/icons.svg#p-ico14" alt="" class="fa_program-card__img"></div>
          <div class="fa_program-card__body">
            <div class="fa_program-card__title">Политология</div>
          </div>
        </a></div>

    </div>
  </div>
</section>