<section class="fa_reserved-area fa_frame">
  <div class="fa_container">
    <div class="fa_form-cont">
      <div class="fa_form-cont__body">
        <div class="fa_offer fa_offer_form">
          <div class="fa_offer__title">
            <span class="fa_offer__title-block">Забронировать льготное место:</span>           
          </div>
          <div class="fa_offer__price">
            <span class="fa_offer__from">От </span>
            <span class="fa_offer__old-price">2 500</span>
            <span class="fa_offer__note">2 000</span>
            <span class="fa_offer__rest">руб./мес</span>
          </div>
        </div>
        <form autocomplete="on" method="post" class="fa_form">
          <input style="display:none" type="reset" value="Reset">
          <input type="hidden" name="type" value="1">
          <div class="fa_form__row">
            <div class="fa_form__group">
              <input type="email" name="mail" placeholder="Введите Ваш e-mail" value required class="fa_form__inp-mail js-email">
            </div>
            <div class="fa_form__group">
              <input type="tel" name="phone" placeholder="Введите Ваш телефон" value required class="fa_form__inp-phone js-phone">
            </div>
            <div class="fa_form__group fa_form__group_submit">
              <input type="submit" value="Забронировать" class="fa_btn fa_form__inp-submit">
            </div>
          </div>
        </form>
        <div class="fa_form__agree">Нажимая на кнопку, вы даете согласие на <a href="https://xn--80axh3d.xn--p1ai/Soglashanie_ob_obrabotke_personalnykh_dannykh_MAEO.pdf" rel="external">обработку персональных данных</a></div>
      </div>
      <div class="fa_form-cont__info">
        <div class="fa_form-cont__info-tile">В течение 1 минуты вам на почту придёт:</div>
        <div class="fa_ico-list">          
          <li>Порядок поступления и список документов</li>
          <li>Дополнительная информация об обучении</li>
        </div>
      </div>
    </div>
  </div>
</section>