<section class="fa_steps-area fa_frame">
  <div class="fa_container">
    <h2 class="fa_title">Как проходит дистанционное обучение в ВУЗе?</h2>
    <div class="fa_steps-area__cont">
      <div class="fa_steps-area__right">
        <h2>Как проходит дистанционное обучение в ВУЗе? </h2> 
        <ul class="steps-list">
          <li class="steps-list__item">
            <div class="steps-list__num">1</div>
            <div class="steps-list__text">После поступления получаете логин и пароль от электронной образовательной платформы: учебники, методические материалы, видео, лекции в электронном формате.</div>
          </li>
          <li class="steps-list__item">
            <div class="steps-list__num">2</div>
            <div class="steps-list__text">Изучаете их согласно учебному плану. Проходите тесты, выполняете практические задания с проверкой преподавателей.</div>
          </li>
          <li class="steps-list__item">
            <div class="steps-list__num">3</div>
            <div class="steps-list__text">Сдаете итоговую дипломную работу и выпускные экзамены. Получаете диплома и сертификат Почтой России.</div>
          </li>
          
        </ul>
      </div>
      <div class="fa_steps-area__left">
        <ul class="steps-adv-list">
          <li class="steps-adv-list__item">
            <div class="steps-adv-list__mediabox"><img src="images/icons/icons.svg#ico9a" alt=""></div>
            <div class="steps-adv-list__body">
              <div class="steps-adv-list__label">Экономия времени</div>
              <div class="steps-adv-list__text">Не нужно ездить на лекции, отрываться от работы и семьи. Занимайтесь в любом месте в удобное время.</div>
            </div>
          </li>
          <li class="steps-adv-list__item">
            <div class="steps-adv-list__mediabox"><img src="images/icons/icons.svg#ico10" alt=""></div>
            <div class="steps-adv-list__body">
              <div class="steps-adv-list__label">Экономия денег</div>
              <div class="steps-adv-list__text">Дистанционное образование дешевле очного, потому что нет затрат на аудитории и преподавателей. </div>
            </div>
          </li>
          <li class="steps-adv-list__item">
            <div class="steps-adv-list__mediabox"><img src="images/icons/icons.svg#ico11" alt=""></div>
            <div class="steps-adv-list__body">
              <div class="steps-adv-list__label">Удобно</div>
              <div class="steps-adv-list__text">Для занятий нужен только компьютер (телефон, планшет) и интернет.</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>