$imgSprite: '../images/icons/icons.svg#';
$branding-color: #111E57;;
$branding-light-color: #212F70;
$accent-color: #E05B23;
$accent-hover-color: #C73B00;
$text-color: #6D6D6D;
$litebg-color: #f2f8fc;